.Button {
  @include button-reset;

  flex: 0 1 auto;

  padding: 0.5em 1em;

  border-radius: 0.25rem;

  background: $color-blue;
  color: $color-white;

  font-weight: bold;

  transition: background-color 0.2s;

  &:hover {
    background: darken($color-blue, 10%);
  }

  &__icon {
    margin: 0 0.5em 0 0;
    width: 1.1em;

    vertical-align: middle;

    path {
      fill: currentColor;
    }
  }

  &:disabled {
    background: $color-light-grey;
  }

  &--facebook,
  &--twitter,
  &--copy {
    @include brevier;
  }

  &--facebook & {
    &__icon {
      transform: translate(0, -4%);
      margin-left: -0.25em;
    }
  }

  &--twitter {
    background: $color-twitter;

    &:hover {
      background: darken($color-twitter, 10%);
    }
  }

  &--copy {
    background: $color-purple;

    &:hover {
      background: darken($color-purple, 10%);
    }
  }

  &--copy-flash {
    background: lighten($color-purple, 30%);
  }
}
