.Header {
  @include padding-vertical;
  @include margin-bottom;

  border-bottom: 1px solid $color-grey;

  line-height: 1em;

  &__logo {
    @include fluid-property(width, 120px, 300px, $clip-high: $tablet-landscape);

    path {
      fill: $color-black;
    }
  }

  &__strapline {
    @include brevier;

    margin: 1rem 0 -0;

    font-style: italic;
  }
}
