.Header {
  @include padding-vertical;
  @include margin-bottom;

  border-bottom: 1px solid $color-grey;

  &__logo {
    @include fluid-property(width, 100px, 300px, $clip-high: $tablet-landscape);

    path { 
      fill: $color-black;
    }
  }

  &__share {
    margin: auto 0 0 auto;
  }
}
