.ShareButtons {
  @include margin($col-spacing-small / -2, $col-spacing-large / -2);

  &__button {
    @include margin($col-spacing-small / 2, $col-spacing-large / 2);
  }

  &__clipboard {
    position: fixed;

    opacity: 0;

    &:focus {
      outline: none;
    }
  }

  &--hidden {
    display: none;
  }
}
